<% include ../partials/headtable%>
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
				<h3>Anggota Kelompok 7 (Kelas 3IF-03) : Ari Perdian, Ferbrian Surmini Sakti, Muhammad Najich</h3><br/>
				<h5>kelompok73if3.herokuapp.com/login -> untuk melihat form login with API GMail and Facebook</h5><br/>
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Daftar API</th>
								<th class="column2">Hak Akses</th>
								<th class="column3">Deskripsi</th>
								<th class="column3">Keterangan</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/user/register">kelompok73if3.herokuapp.com/user/register</a></td>
									<td class="column2"> tidak ada</td>
									<td class="column3">untuk mendaftarkan pengguna sebagai user atau admin</td>
									<td class="column3">API Register</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/user/login">kelompok73if3.herokuapp.com/user/login</a></td>
									<td class="column2"> tidak ada </td>
									<td class="column3">untuk login ke aplikasi</td>
									<td class="column3">API Login</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/book">kelompok73if3.herokuapp.com/book</a></td>
									<td class="column2"> admin </td>
									<td class="column3">untuk menambahkan data buku</td>
									<td class="column3">API POST Book</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/book">kelompok73if3.herokuapp.com/book</a></td>
									<td class="column2"> user </td>
									<td class="column3">untuk melihat semua data buku</td>
									<td class="column3">API GET Book</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/book">kelompok73if3.herokuapp.com/book/database</a></td>
									<td class="column2"> user </td>
									<td class="column3">untuk melihat data buku berdasarkan judul buku</td>
									<td class="column3">API GET Book</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/order">kelompok73if3.herokuapp.com/order</a></td>
									<td class="column2"> user </td>
									<td class="column3">untuk memesan buku</td>
									<td class="column3">API POST Order</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/delivery">kelompok73if3.herokuapp.com/delivery</a></td>
									<td class="column2"> user </td>
									<td class="column3">untuk menginput data pengiriman buku</td>
									<td class="column3">API POST Delivery</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/payment">kelompok73if3.herokuapp.com/payment</a></td>
									<td class="column2"> user </td>
									<td class="column3">untuk menginput data pembayaran pemesanan buku</td>
									<td class="column3">API POST Payment</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/transaction">kelompok73if3.herokuapp.com/transaction</a></td>
									<td class="column2"> admin </td>
									<td class="column3">untuk melihat semua data transaksi </td>
									<td class="column3">API GET Transaction</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/transaction">kelompok73if3.herokuapp.com/transaction/1</a></td>
									<td class="column2"> admin </td>
									<td class="column3">untuk melihat semua data transaksi berdasarkan id transaksi </td>
									<td class="column3">API GET Transaction</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/transaction">kelompok73if3.herokuapp.com/transaction/1</a></td>
									<td class="column2"> admin </td>
									<td class="column3">untuk meupdate data status transaksi berdasarkan id transaksi </td>
									<td class="column3">API PUT Transaction</td>
								</tr>
								<tr>
									<td class="column1"><a href ="kelompok73if3.herokuapp.com/transaction">kelompok73if3.herokuapp.com/transaction</a></td>
									<td class="column2"> admin </td>
									<td class="column3">untuk menambahkan data transaksi</td>
									<td class="column3">API POST Transaction</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<% include ../partials/foottable %>